.listing-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: var(--maxWidth-wrapper);
  margin: 3rem auto 0;
}

.forex-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem 3.5rem;

  &__li {
    flex: 1 1 22.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &__img {
    width: 24px;
  }

  &__text {
    display: flex;
    gap: 0 .5ch;
    flex: 1;
  }

  &__short {
    text-transform: uppercase;
  }

  &__currency {
    flex: 1;
  }

  &__value {
    align-self: flex-start;
  }
}